<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Controls" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net452" />
  <package id="bolt5.CloneCopy" version="1.0.0" targetFramework="net452" />
  <package id="bolt5.CustomControls.Wpf" version="1.0.0" targetFramework="net452" />
  <package id="bolt5.CustomHtmlCefEditor" version="1.0.0" targetFramework="net452" />
  <package id="bolt5.CustomMonthlyCalendar" version="1.0.0" targetFramework="net452" />
  <package id="bolt5.ModalWpf" version="1.0.0" targetFramework="net452" />
  <package id="cef.redist.x64" version="90.6.7" targetFramework="net452" />
  <package id="cef.redist.x86" version="90.6.7" targetFramework="net452" />
  <package id="CefSharp.Common" version="90.6.70" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="90.6.70" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="4.0.2" targetFramework="net452" />
  <package id="Fody" version="6.4.0" targetFramework="net452" developmentDependency="true" />
  <package id="FontIcons.Wpf.FontAwesome" version="1.0.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.11.33" targetFramework="net452" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net452" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net452" />
  <package id="NPOI" version="2.5.3" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net452" />
  <package id="PropertyChanged.Fody" version="3.3.3" targetFramework="net452" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net452" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.113.7" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.113.7" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net452" />
</packages>